<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-icon name="trail-sign-outline"></ion-icon>
    </ion-buttons>
    <ion-title><h1>Escolhas</h1></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button (click)="navegarorigemdestino('/escolhas', '/contato')">
    Navegar para página de contato via programação
  </ion-button>

  <ion-button (click)="navegar('/contato')">
    Navegar para pagina contato via programacao
  </ion-button>

</ion-content>
